.homePage{
    margin-left: calc(20%);
    width: calc(80%);
    height: 100%;
}

.homeHeader{
    display: block;
    text-align: center;
    padding: 1rem;
    background-color: beige;
    border-radius: 5%;
}

.profilePic{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: right;
  }

  .namePlate{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: bold;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .namePlateTitle{
    border-bottom: black .2rem solid;
    width: 40%;
  }

  .namePlateLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .namePlateLinks a{
    flex: 1;
    max-width: 200px;
    padding: 3px;
    text-align: center;
  }

  .homeGithubData{
    height: 34vw;
    overflow: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-content: flex-start;
  }

  .homeGitHubRepos{
    width: calc(98%);
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 1rem;
  }