.homePage{
    margin-left: 20vw;
    width: 80%;
    height: 100%;
}

.homeHeader{
    text-align: center;
    padding: 1rem;
    background-color: beige;
}

.profilePic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: right;
  }

  .namePlate {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: bold;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .namePlateTitle{
    border-bottom: black .2rem solid;
    width: 40%;
  }

  .homeGithubData{
    height: 32vw;
    overflow: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-content: flex-start;
  }

  .homeGitHubRepos{
    width: calc(98%);
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 1rem;
  }