.homePage {
    margin-left: 20vw;
    background-color: beige;
    height: 950px;
}

.profilePic {
    display: relative;
    margin: 10px; 
    margin-left: 70%;
    margin-top: 5%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.namePlate {
    display: block;
    margin-top: -20%;
    margin-right: 40%;
    text-align: center  
}

.aboutSec {
    margin-right: 40%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-wrap: break-word;
}

.aboutSec div {
    margin: 20px;
    padding-left: 10%;
}

.moreButton {

    margin: auto;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 20%;
    padding: 5px;

}

.lessButton {

    margin: auto;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 20%;
    padding: 5px;

}

.hrLine {
    margin-left: 13%;
}