.sidebar {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 10px;
}

.profile {


    margin: 75px;
    transform: translate(0%, -150%);

}

.nameTag {
    text-align: center;
    color: white;
    border-bottom: 2px solid white;
}

.skillList {
    font-size: 25px;
    text-align: center;
    color: white;
}

.backImg {

    opacity: 80%;

    height: 100%;
    background-image: url("../img/dope_drumshot.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    filter: blur(8px);

}

.navBar {

    display: block;
    text-align: center;

}

.link {
    
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 70px;
    border-radius: 5px;
    margin: 10px 0px;
    opacity: 65%;
    cursor: pointer;
}